/*
CSS Style for mortgage page
*/
html {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  position: relative;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 4.5em; font-size: 4.5vw;
  padding: 0;
  margin: 0;
  font-style: italic;
  vertical-align: top;
  color: black;
  font-weight:lighter;
}

h5 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

form h4 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  float: right;
}

form h3 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 1em;
}
form h2 {
  display: inline-block;
  padding: 0;
  margin: .5em 0;
  font-size: 1.75em;
}
form div {
  display: inline-block;
}

textarea {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  font-size: 1.2em;
  margin-top: .5em;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  width:100%;
  padding: 50% 0;
  line-height:0;
  margin-top:-0.5em;
  margin-bottom: -0.5em;
  text-align:center;
  color: black;
  font-family:Verdana;
  font-size:1em;
  font-weight:bold;
  text-decoration:none;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  color: rgb(240,240,240);
}

input[type="submit"],
input[type="button"] {
  margin-left: 13em;
}

.underlined {
  text-decoration: underline;
}
.noUnderline {
  text-decoration: none;
}

#warning.see {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: Georgia, serif;
  font-style: normal;
  text-align: center;
  color: rgb(255, 50, 50);
  text-shadow: -1px -1px 1px black, 1px 1px 1px black,
                -1px 1px 1px black, 1px -1px 1px black,
                -1px 0 1px black, 0 -1px 1px black,
                1px 0 1px black, 0 1px 1px black;
}
.noSee {
  margin: 0;
  padding: 0;
  font-size: 1px;
  color: transparent;
  visibility: hidden;
  visibility: collapse;
}

#apr {
  width: 4em;
  float: right;
}

#years {
  width: 5em;
  float: right;
}

.midWidth,
#amount {
  width: 7em;
  float: right;
}


.halfWid {
  width: 10.5em;
  float: right;
}

#ccExpiration {
  width: 7em;
  float: right;
}

#phone {
  width: 10em;
  float: right;
}

.right {
  float: right;
}

.topLeft {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tab {
  margin-left: .5em;
}

.content {
  padding: 1em;
  padding-bottom: 4.5em;
}

.header {
  padding: .1em;
  text-align: center;
}

.bodySize {
  min-height: 100%;
  position: relative;
}

.centerBlock {
  width: 23em;
  margin: .5em auto;
}
.centerBlockWide {
  width: 27em;
  margin: .5em auto;
}

.half {
  width: 50%;
}

.topIt {
  position: absolute;
  top: 3;
  margin-top: 3em;
}
.left {
  float:left;
}
.clear {
  clear: both;
}
img {
  cursor: pointer;
}

footer li {
  display: inline-block;
  margin: 0 1.5em;
}

footer a {
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(102, 255, 255);
  text-shadow: 0 1px 1px black;
}

footer a:hover {
  text-decoration: underline;;
}

footer {
  margin: 0;
  padding: 0;
  height: 4em;
  width: 100%;
  background: rgb(51, 153, 255);
  position:absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
